 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Platform</h2>
      <i class="devicon-android-plain-wordmark colored"></i>
      <p>6 years of experience in developing android application. Worked on E-commerce, Cab Booking, Telecom domain.</p>
    </div>
    <div class="tech">
      <h2>Language</h2>
      <i class="devicon-java-plain"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Experience in Java, Kotlin for Android development. Also have good exposure of NodeJs.</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-amazonwebservices-original colored"></i>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-gradle-plain colored"></i>
      <p>Familiar with AWS, Firebase, Gradle, Android Studio, Git, VSCode, Figma, Sketch, Jira, Confluence, Slack, Source Tree.</p>
    </div>
</div>
