<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <div class="card">
      <img alt="Cashfree Payments" src="{{ "/assets/img/cf.png" }}" />
    </div>
  </div>
  <div class="contents-left">
    <h3>Cashfree Payments</h3>
    <ul>
      <li> Android Mobile SDK feature development for payments</li>
      <li> React native SDK feature development</li>
      <li> Cordova & Ionic SDK feature development & merchant support</li>
    </ul>
    <p>Working in Cashfree payment for 2 years for Mobile SDK team.</p>
    <a class="project-link" target="_blank" href="https://www.npmjs.com/package/react-native-cashfree-pg-sdk">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <div class="card">
      <img alt="Ola Electric" src="{{ "/assets/img/olaelectric.png" }}" />
    </div>
  </div>
  <div class="contents-left">
    <h3>Ola Electric</h3>
    <ul>
      <li>Scooter BLE Connection with mobile app</li>
      <li> Scooter Lock/Unlock, Proximity</li>
      <li> Scooter Profile Section</li>
    </ul>
    <p>Worked for Ola Electric for almost 1.5 years. Worked on Scooter app for BLE connection, Lock/unlock...</p>
    <a class="project-link" target="_blank" href="https://play.google.com/store/apps/details?id=com.olaelectric.companion&hl=en_IN&gl=US">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <div class="card">
    <img alt="gojek" src="{{ "/assets/img/gojek_project.png" }}" />
  </div>
  </div>
  <div class="contents">
    <h3> Gojek - GoTransport </h3>
    <ul>
      <li> MultiStop</li>
      <li> Trip Conformity & Feedback</li>
      <li> GoClub Loyalty Program</li>
      <li> Schedule Ride</li>
    </ul>
    <p>Worked for Gojek Transport for almost 1.5 years. Learn and contributed in consumer & driver partner app...</p>
    <a class="project-link" target="_blank" href="https://play.google.com/store/apps/details?id=com.gojek.app&hl=en_IN&gl=US">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <div class="card">
    <img alt="gojek" src="{{ "/assets/img/gopartner_gojek.jpeg" }}" />
  </div>
  </div>
  <div class="contents-right">
    <h3> Gojek - GoPartner </h3>
    <ul>
      <li> MultiStop in Driver Partner</li>
      <li> Schedule Ride in Driver Partner</li>
    </ul>
    <p>Worked for Gojek partner app and develop multistop, schedule ride features...</p>
    <a class="project-link" target="_blank" href="https://play.google.com/store/apps/details?id=com.gojek.partner&hl=en_IN&gl=US">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <div class="card">
    <img alt="sehatQ" src="{{ "/assets/img/sehatq.jpg" }}" />
    </div>
  </div>
  <div class="contents">
    <h3> SehatQ </h3>
    <ul>
      <li> Doctor & patient chat</li>
      <li> Nearby Hospital And Doctor search</li>
    </ul>
    <p>SehatQ is the most complete health and wellness application for the family’s health manager. Talk to a trusted doctor, make an appointment with your doctor...</p>
    <a class="project-link" target="_blank" href="https://play.google.com/store/apps/details?id=com.she.sehatq&hl=en_IN&gl=US">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <div class="card">
    <img alt="Hibbett" src="{{"/assets/img/hibbett_sports.jpeg" }}" />
    </div>
  </div>
  <div class="contents-right">
    <h3>Hibbett - Sports </h3>
    <ul>
      <li> Ropis & Bopis</li>
      <li> Raffle System</li>
    </ul>
    <p>Shop sneakers & enter raffles for launch shoes. Manage Hibbett Rewards, get offers & earn Points, Browse the entire catalog...</p>
    <a class="project-link" target="_blank" href="https://play.google.com/store/apps/details?id=com.hibbett.android&hl=en_IN&gl=US">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
      <div class="card">
    <img alt="JioNews" src="{{ "/assets/img/jionews.jpeg" }}" />
    </div>
  </div>
  <div class="contents">
    <h3> Jio-News </h3>
    <ul>
      <li> News based on region & language</li>
    </ul>
    <p>Whether it’s keeping up with the latest news, watching LIVE News, reading a magazine or a newspaper or staying updated with trending videos, Live cricket score and hashtags…</p>
    <a class="project-link" target="_blank" href="https://play.google.com/store/apps/details?id=com.jio.media.jioxpressnews&hl=en">Check it out</a>
  </div>
</div>
