<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="gojek" src="{{ "/assets/img/gojek_project.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Gojek - GoTransport </h3>
    <ul>
      <li> MultiStop</li>
      <li> Trip Conformity & Feedback</li>
      <li> GoClub Loyalty Program</li>
      <li> Schedule Ride</li>
    </ul>
    <p>Worked for Gojek Transport for almost 1.5 years. Learn and contributed in Node based structure...</p>
    <a class="project-link" target="_blank" href="https://play.google.com/store/apps/details?id=com.gojek.app&hl=en_IN&gl=US">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="gojek" src="{{ "/assets/img/gopartner_gojek.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Gojek - GoPartner </h3>
    <ul>
      <li> MultiStop in Driver Partner</li>
      <li> Schedule Ride in Driver Partner</li>
    </ul>
    <p>Worked for Gojek partner app and develop multistop, schedule ride features...</p>
    <a class="project-link" target="_blank" href="https://play.google.com/store/apps/details?id=com.gojek.partner&hl=en_IN&gl=US">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="sehatQ" src="{{ "/assets/img/sehatq.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> SehatQ </h3>
    <ul>
      <li> Doctor & patient chat</li>
      <li> Nearby Hospital And Doctor search</li>
    </ul>
    <p>SehatQ is the most complete health and wellness application for the family’s health manager. Talk to a trusted doctor, make an appointment with your doctor...</p>
    <a class="project-link" target="_blank" href="https://play.google.com/store/apps/details?id=com.she.sehatq&hl=en_IN&gl=US">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Hibbett" src="{{ "/assets/img/hibbett_sports.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Hibbett - Sports </h3>
    <ul>
      <li> Ropis & Bopis</li>
      <li> Raffle System</li>
    </ul>
    <p>Shop sneakers & enter raffles for launch shoes. Manage Hibbett Rewards, get offers & earn Points, Browse the entire catalog...</p>
    <a class="project-link" target="_blank" href="https://play.google.com/store/apps/details?id=com.hibbett.android&hl=en_IN&gl=US">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="JioNews" src="{{ "/assets/img/jionews.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Jio-News </h3>
    <ul>
      <li> News based on region & language</li>
    </ul>
    <p>Whether it’s keeping up with the latest news, watching LIVE News, reading a magazine or a newspaper or staying updated with trending videos, Live cricket score and hashtags…</p>
    <a class="project-link" target="_blank" href="https://play.google.com/store/apps/details?id=com.jio.media.jioxpressnews&hl=en">Check it out</a>
  </div>
</div>